extends partial/layout.pug

block site_title
    != config.title

block description
    - var re = /^(https):\/\/*/gi;
    - var defaultImageURL = theme.cover_image_url;
    - var imageURL = page.image || defaultImageURL;
    - var url = config.url + "/archives/"
    meta(name="description", content=config.description)
    meta(name="og:url", content=url)
    meta(name="og:type", content="website")
    meta(name="og:title", content=config.title)
    meta(name="og:description", content=config.description)
    meta(name="og:image" , content=defaultImageURL)
    if re.test(imageURL)
        meta(name="og:image:secure_url" , content=imageURL)
      
block container
    include mixins/post.pug
    +postList

block pagination
    include mixins/paginator.pug
    +home

block copyright
    include partial/copyright.pug
