extends partial/layout_post.pug

block site_title
    != page.title + " · " + config.title

block description
    - var re = /^(https):\/\/*/gi;
    - var desc = page.desc || config.description;
    - var postURL = config.url + "/" + page.path;
    - var defaultImageURL = config.url + theme.cover_image_url;
    - var imageURL = page.image || defaultImageURL;
    meta(name="description", content=desc)
    meta(name="og:title", content=page.title)
    meta(name="og:type", content="website")
    meta(name="og:url", content=postURL)
    meta(name="og:image", content=defaultImageURL) 
    if re.test(imageURL)
        meta(name="og:image:secure_url" , content=imageURL)
    meta(name="og:description", content=desc)

block header
    nav.navi-post
        a.navi-post-back(href="javascript:history.back()")
            i(class="fa fa-arrow-left", aria-hidden="true")
        a.navi-post-home(href=url_for())
            i(class="fa fa-home", aria-hidden="true")
    include mixins/adsense.pug
    +post

block container
    include mixins/post.pug
    +post(page)

block pagination
    include mixins/paginator.pug
    +post

block comment
    include partial/comment.pug

block copyright
    include partial/copyright.pug