mixin postInfo(item)
    if is_post()
        .post-info
            - var profile_img = page.profile || theme.profile;
            - var profile_url = page.profile_url || theme.profile_url;
            .post-info-profile
                a(href=url_for(profile_url) target="_blank")
                    img(src=url_for(profile_img))
            .post-info-details
                .post-categories
                    if item.categories && item.categories.length
                        each category in item.categories.data
                            a(href=url_for('/categories/' + category.name) target="_self")
                                span!= category.name.toUpperCase()             
                .post-date
                    != full_date(item.date, 'll')
        .post-share
            .fb-like(data-href=url_for(config.url + '/' + page.path) data-layout="button_count" data-action="like" data-size="small" data-show-faces="true" data-share="false")                  
            .fb-share-button(data-href=url_for(config.url + '/' + page.path) data-layout="button" data-size="small" data-mobile-iframe="true")
            if theme.fb_page
                .fb-follow(data-href=url_for(theme.fb_page) data-layout="button_count" data-size="small" data-show-faces="true")
    else if is_archive() || is_category()
        .post-info
            .post-date
                != full_date(item.date, 'll')

//- Archive Page
mixin postList
    .archive
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change
                h2.archive-year!= year
            .post-item
                +postInfo(item)
                a.post-title-link(href= url_for(item.path))
                    != item.title
        - })

//- Post Page
mixin post(item)
    .post
        article.post-block
            h1.post-title
                != item.title
            +postInfo(item)
            .post-content
                != item.content
